%section#description
	.container
		.row 
			.col-md-8.col-md-offset-2
				%p Our mission is to bring doctors and patients together — to empower consumers to make better choices, creating better value for their money; and to support physicians by providing them with the tools and services to directly engage with their patients.
				