%section#advisors
	.container
		.row
			.col-md-8.col-md-offset-2
				%h3
					Our Board
				.row
					.col-sm-4
						%a.name Chad A. Leat, Chair
						%p Retired Vice Chairman of Global Banking at Citigroup
					.col-sm-4
						%a.name Jonathan Weiss, M.D
						%p Founder, HealthEngine
					.col-sm-4
						%a.name Ramon Tisaire
						%p Co-Founder, HealthEngine
				.row	
					.col-sm-4.col-sm-offset-2
						%a.name Mark Goldstein
						%p Founder, Ventus Capital
					.col-sm-4
						%a.name John Svoboda
						%p{style: 'margin-bottom:0'} Managing Director,
						%p Svoboda Capital Partners

	.container{style: 'margin-top:100px'}
		.row
			.col-md-8.col-md-offset-2
				%h3
					Our Advisors
				.row
					.col-sm-4
						%a.name Sandy Bank
						%p{style: 'margin-bottom:0'} Retired Member, 
						%p Chicago Board of Trade
					.col-sm-4
						%a.name Les Funtleyder
						%p{style: 'margin-bottom:0'} Healthcare Portfolio Manager 
						%p E Squared Asset Management
					.col-sm-4
						%a.name Stephen C. Savage
						%p Computer Associates
						
