%section#description
	.container
		.row
			.col-md-8.col-md-offset-2
				%p{style: 'margin-bottom: 0'}
					Solution Overview
					=image_tag "cdw-brochure.png"
				%p
				%h3.border-top The Engine:
				%p
					%ul
					%li Quality and pricing information that covers hundreds of medical and diagnostic services across more than 1.2 million healthcare providers
					%li Thousands of HealthEngine value prices -- case bundles offering up to 70% discounts on a range of medical services, and created in partnership with top physicians and facility providers in your current health plan network
					%li Specific physician and facility provider profile pages providing the quality and cost details you need to make an informed decision


%section#testimonials
	.container
		%h3 Testimonials
		%br
		%br
		.row
			.col-md-10.col-md-offset-1
				%blockquote
					%p "Savings have already begun to be realized, and staff consider HealthEngine a powerful complement to their existing healthcare benefits in helping them and their doctors to identify the top value-based healthcare options from within their medical plan. Especially appreciated has been HealthEngine’s Care Concierge team, which shows special dedication to patient service and helping people navigate what we all know is a complex healthcare system. We recommend HealthEngine unreservedly."

					%footer
						%strong Joseph S. La Margo,
						President, Board of Education, Orland School District 135

				%br
				%br
				%br
				%br
			.col-md-10.col-md-offset-1
				%blockquote.blockquote-reverse
					%p “In all of our interactions with the HealthEngine team, they have brought an innovative and thoughtful energy to their work. They bring clinical expertise and deep insight into the healthcare system, pricing, quality and the issues and reasons behind why costs are high and how to lower them. I would recommend their analytics team and product following our experience. We also continue to evaluate how we may pursue accessing their network optimization product alongside our current transparency vendor given the potential savings that their unique model represents.”

					%footer
						%strong Paul Reiman,
						Head of Total Rewards, Morningstar, Inc
