%section#grid
	.container
		.row
			.box.col-md-6
				%i.fa.fa-flag-o
				%h3 The Best Item
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			.box.col-md-6
				%i.fa.fa-diamond
				%h3 Another Item
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		.row
			.box.col-md-6
				%i.fa.fa-bicycle
				%h3 Your Item
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			.box.col-md-6
				%i.fa.fa-heart-o
				%h3 Someone's Item
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.