%section#hero
	= image_tag 'hero.jpg', class: 'hero-bg physician'
	%h1 Shop for healthcare services the way you shop for everything else
	%h3 Save up to thousands of dollars on hundreds of common healthcare services
