%section#testimonials
	.container
		.row
			.col-md-8.col-md-offset-2
				%p
					%h3 How It Works
					%ol
					%li Claim your profile -- make sure the information we have about you is accurate and up-to-date.
					%li Take it a step further -- add additional information which may be important to patients and referring physicians in selecting a provider, such as clinical awards, outcomes reports and patient reviews, or perhaps a photo and information about your office's opening times which people might find useful.
					%li Partner with HealthEngine in offering bundled case rates which can reduce the overall cost for consumers, while at the same time potentially increasing your professional fee.
