%section#action
	.container
		.row
			.col-md-8.col-md-offset-2
				.box
					%h3 Get involved!
					%p Learn how HealthEngine is bringing patients and doctors together.
					%p
						Send us an email at
						= mail_to 'providers@healthengine.com'
					-#%a.btn.btn-default.btn-callout{href: 'https://providers.healthengine.com/'}
						Claim Your Practice Now
