%section#description
	.container
		.row
			.col-md-8.col-md-offset-2
				%h3.no-border HealthEngine is different.  We’re physician-led, so we know exactly what you’re up against.
		.row.cards
			.card
				%p
				%h3 The Engine:
				%br
				%ul
					%li Estimated prices for hundreds of medical and diagnostic services across 1.2 million national providers.
					%br
					%li Thousands of HealthEngine value prices -- case bundles offering up to 70% discounts on a range of medical services, and created in
					partnership with top physicians and facility providers in your current health plan network
			.card.center
				%p
				%h3 Care Concierge:
				%br
				%ul
					%li A team dedicated to partnering with consumers in navigating the complexities of healthcare.
					%br
					%li Care Concierge professionals aim to save consumers time, money, and frustration so they can focus on their care needs. From scheduling appointments, to setting expectations about billing and cost, to answering any questions consumers might have, the team is ready to assist however they can.
			.card
				%p
				%h3 Physician / Provider Pages:
				%br
				%ul
					%li Claim your free profile page in order to share information about your clinical practice or facility.
					%br
					%li Provide informational resources detailing your unique experience, expertise, and training which might help prospective patients and medical colleagues potentially choose you when considering their healthcare options.
		-#%a.btn.btn-default.btn-callout{href: 'https://providers.healthengine.com/', style: 'margin-top:40px'}
			Claim Your Practice Now
