%section#grid
	.container
		%h3 Why You'd Get Involved
		.row
			.box.col-md-6.col-md-offset-3
				%i.fa.fa-group
				%h3 New Patients
				%p Reach a wider population of potential patients and referring physicians -- in today's virtual world, no longer settle for static whitepages or sites over which you have no control -- through HealthEngine, you are in charge of your own profile.
		.row
			.box.col-md-6
				%i.fa.fa-cubes
				%h3 Bundled Offerings
				%p Platform giving you a voice to tell people looking for a provider why they might select you, based on your education, training, experience with specific procedures, and other aspects about your practice that can inform choice.
			.box.col-md-6
				%i.fa.fa-money
				%h3 Cost Insights
				%p Opportunity to improve your bottom line
