%section#team
	.container
		%h3 Our Leadership
		.row 
			.box.col-md-4
				/ = image_tag 'http://placehold.it/300x300'
				%a.name
					Jonathan Weiss, MD, MBA
				.title
					Founder & CEO
			.box.col-md-4
				/ = image_tag 'http://placehold.it/300x300'
				%a.name
					Amitabh Chandra, PhD
				.title
					Co-Founder
			.box.col-md-4
				/ = image_tag 'http://placehold.it/300x300'
				%a.name
					David H. Song, MD, MBA
				.title
					Chief Medical Officer
		.row
			.box.col-md-4
				/ = image_tag 'http://placehold.it/300x300'
				%a.name
					Moe Alkhafaji
				.title
					Chief Technology Officer
			
			.box.col-md-4
				/ = image_tag 'http://placehold.it/300x300'
				%a.name
					Jay Fehnel
				.title
					Chief Operating Officer
			.box.col-md-4
				/ = image_tag 'http://placehold.it/300x300'
				%a.name
					Stephanie Kowalski
				.title
					Chief Marketing Officer
		.row

			.box.col-md-4
				/ = image_tag 'http://placehold.it/300x300'
				%a.name
					Seth Merritt
				.title
					Provider & Payor Strategy
			.box.col-md-4
				/ = image_tag 'http://placehold.it/300x300'
				%a.name
					Julia Paphitis
				.title
					Client Development
			.box.col-md-4
				/ = image_tag 'http://placehold.it/300x300'
				%a.name
					Melissa Eckl
				.title
					Patient Engagement
%section#team
	.container
		%h3 Board
		.row 
			.box.col-md-4
				/ = image_tag 'http://placehold.it/300x300'
				%a.name
					Chad A. Leat, Chair
				.title
					Retired Vice Chairman of Global Banking at Citigroup
			.box.col-md-4
				/ = image_tag 'http://placehold.it/300x300'
				%a.name
					Jonathan Weiss, MD, MBA
				.title
					Founder & CEO, HealthEngine
			.box.col-md-4
				/ = image_tag 'http://placehold.it/300x300'
				%a.name
					Ramon Tisaire
				.title
					Co-Founder, HealthEngine
		.row
			.box.col-md-4.col-md-offset-2
				/ = image_tag 'http://placehold.it/300x300'
				%a.name
					Mark Goldstein
				.title
					Founder, Ventus Capital
			.box.col-md-4
				/ = image_tag 'http://placehold.it/300x300'
				%a.name
					John Svoboda
				.title
					Managing Director, Svoboda Capital Partners
