%section#home
	.container
		.row
			.col-sm-6
				%p HealthEngine is bringing good news to healthcare. In an era of high-deductible health plans, HealthEngine provides consumers with a powerful tool to save money without having to sacrifice quality. Physician-led, HealthEngine believes that wherever patients and doctors join forces, nothing can stand in the way of this dynamic duo.
				Because we all know that when consumers wield the power of choice, they are truly in the driver's seat to demand and receive the very best quality and price possible as competition heats up in the marketplace. HealthEngine offers a platform for all healthcare providers to tell patients more about what sets them apart clinically and financially, as well as to potentially offer consumers better prices than are currently available.
				By helping consumers get better value from their existing health plans, HealthEngine offers employers the ability to provider coworkers with a valued benefit, while at the same time saving money to healthcare costs through encouraging employees to become savvy healthcare consumers.
				.clearfix.spacer-sm
				%a.text-center{:href => "https://app.healthengine.com/register", :target => "_blank"}
					%button.btn.btn-lg.text-center.btn-blue Register Now
			.col-sm-6
				=  image_tag 'he-site-mock.jpg', class: 'mock'

			.col-xs-12
				.spacer-3xl.hidden-xs
				.spacer-md.hidden-xs

			 %ul The HealthEngine platform has three components:
				%li Quality and price information for more than 1.2 million physician and facility providers for hundreds of the most common medical and diagnostic procedures.
				%li In partnership with top physicians and facilities currently in your network, HealthEngine offers all-in-one clinical case bundles that are 20-60% lower than the rates currently in place.

				%p The HealthEngine Care Concierge team assists consumers in navigating the complex healthcare system. Care Concierge professionals are available to help schedule appointments, access HealthEngine discount offerings, negotiate a new one on a patient's behalf or help reduce a current hospital bill.
				The Concierge team is equipped to answer questions about most health plans, including eligibility, current accumulated spend, or simply to assist in deciphering dreaded Explanation of Benefits (EOB's).

				%p Physicians and facility providers can claim their own profile pages and share validated information with consumers and physician colleagues about what makes them great or unique. This might include education, training and awards, or perhaps information on expertise in specific procedures and designations as centers of excellence. The underlying goal is to facilitate and encourage healthcare providers in sharing more about their clinical excellence, as well as to potentially win a greater share of consumer choice by demonstrating high quality care at cost-effective rates that they can control for the first time.

				%h1 Who Benefits
				%ul Consumers:
					%li Save money on high-quality healthcare services
					%li Get more value from your current health insurance plan
					%li Reduce frustration and save time with our Care Concierge team

				%ul Physicians:
					%li Utilize a free platform that offers you the freedom to tell others more about your practice
					%li Reach a wider audience of patients and referring physicians
					%li Have an opportunity to improve your practice's bottom line while helping to safeguard your patient's best interests in accessing high-value healthcare

				%ul Employers:
					%li Reduce overall healthcare spend while providing a valued benefit
					%li Empower employees to be savvy healthcare consumers in accessing higher quality care at affordable prices
				%h1 Contact Us

			#three-step
				.col-sm-4
					.circle
						.number-lg 1
					%h2 Search
					%p Type in a service, procedure, provider name into the search box
					.spacer-2xl.visible-xs-block
				.col-sm-4
					.circle
						.number-lg 2
					%h2 Compare
					%p Compare the different listings by quality of provider, prices of procedures, and other factors
					.spacer-2xl.visible-xs-block
				.col-sm-4
					.circle
						.number-lg 3
					%h2 Schedule
					%p Click on Request Appointment from within the listing that best suits you

				.col-xs-12
					.spacer-3xl
					%a.text-center.visible-xs-block{:href => "https://app.healthengine.com/register", :target => "_blank"}
						%button.btn.btn-lg.btn-block.text-center.btn-blue Register Now
					.spacer-3xl.visible-xs-block
