= render 'hero'
= render 'description'
%h1 Solution Overview
%p{style: 'margin-bottom: 0'}
%strong The Engine:
%ul
%li The quality and pricing information that covers hundreds of medical and diagnostic services across more than 1.2 million healthcare providers
%li Thousands of HealthEngine value prices -- case bundles offering up to 70% discounts on a range of medical services, and created in partnership with top physicians and facility providers in your current health plan network
%li Specific physician and facility provider profile pages providing the quality and cost details you need to make an informed decision
%p{style: 'margin-bottom: 0'}
%strong Care Concierge:
%ul
%li Your partner in navigating the complexities of healthcare
%li Reduce the hassle while saving time and money by having a Care Concierge professional assist you every step of the way. From scheduling your appointment, to educating you on cost, quality, and discounted rates, the Care Concierge team is on standby to answer any questions you might have.

%h1
%strong How it works
%p Using HealthEngine is as easy as 1-2-3-4. Watch the demo.
%p 1 - Create an account and complete your profile
%p 2 - Search for the procedures, physicians, and facility providers you wish to learn more about within a particular distance from your desired zip code
%p 3 - Calculate your refund - this is the difference between what the healthcare provider
