%section.document
	.container
		.row
			.document-page.col-sm-10.col-sm-offset-1
				.div.legal
					%h2 HealthEngine, LLC Privacy Policy
					%h4 Effective Date 09/04/2015 (last updated 09/04/2015)
					%h4 This Privacy Policy applies to our website(s) as well as to our offline services.
					%p This Policy describes how HealthEngine, LLC. treats personal information on the websites where it is located, as well as through offline services. It also applies to our mobile sites.
					.spacer-sm.clearfix
					=link_to "Download a full copy of this Privacy Policy", "https://app.healthengine.com/assets/HealthEngine-Privacy-Policy.pdf", target: "_blank", class: "text-link"
					-# %a{:href => "../app/assets/images/HealthEngine-Privacy-Policy.pdf", target: "_blank",	class:"text-link"} [To download a full copy of this Privacy Policy, click here.]

					.spacer-md.clearfix
					%h4 We collect information from and about you.
					%p
						%strong Contact information.
						For example, we may collect your name, street address, city, state, zip code, phone number, fax number, and email address.
						%p
							%strong Health Insurance Information.
							We may collect your insurance carrier and/or health plan name, Subscriber ID (Policy Number), group number, and coverage information.
					%p
						%strong Medical Services.
						We collect information about the medical services that you may look at or reserve through our website.

					%p
						%strong Payment information.
						For example, we collect your credit card number if you make a payment through our website.

					%p
						%strong Information you submit.
						We collect information when you contact us.

					%p
						%strong Demographic information.
						We may collect information like your gender and age/date of birth.	We might collect this when you contact us or complete a survey.

					%p
						%strong Professional Information:
						For Physician users, we may collect information about your professional credentials, including medical school, year of graduation, type of physician, and NPI number.

					%p
						%strong Other information.
						If you use our website, we may collect information about the browser you’re using and your IP address. We might look at what site you came from, or what site you visit when you leave us.

					.spacer-md.clearfix
					%h4 We collect information in different ways.
					%p
						%strong We collect information directly from you.
						For example, if you book medical services through us. We also collect information if you contact us online or offline.

					%p
						%strong We collect information from you passively.
						We, or third-parties on our site, may use tracking tools such as browser cookies and web beacons.

					%p
						%strong We get information about you from third parties.
						For example, our business partners may give us information about you.	We may combine this information with information you give us.

					.spacer-md.clearfix
					%h4 We use information as disclosed and described here.
					We use information to respond to your requests or questions.	For example, we might use your information to respond to your feedback.	We may use your information to notify you if you reserve medical services through our website or to contact you for other reasons about your account.

					%p
						%strong We use information to improve our products and services.
						We may use your information to make our website and products better. We might use your information to customize your experience with us. We may do this by looking at site trends or customer interests.

					%p
						%strong We use information for security purposes.
						We may use information to protect our company, our customers, and our website.

					%p
						%strong We use information for marketing purposes.
						For example, we might send you information about new products/services and special promotions. We might tell you about new features or updates. These might be third-party offers, services, or products we think you might find interesting.

					%p
						%strong We use information to communicate with you about your account or our relationship.
						We may contact you about your order or feedback. We might also contact you about this Policy or our website Terms.

					%p
						%strong We use information as otherwise described or permitted by law.

					.spacer-md.clearfix
					%h4 We may share information with third parties.
					%p
						%strong We will share information among HealthEngine-affiliated companies.

					%p
						%strong We will share information with third parties that perform services on our behalf or who we work with to provide services to you.
						For example, we share information with third-party services that provide your health insurance plan information to us, medical service providers we need to contact to book appointments on your behalf, and vendors that send emails on our behalf. We may also share information with companies that operate our websites or provide customer support.

					%p
						%strong We will share information if we think we have to in order to comply with the law, regulatory provisions, or in order to protect ourselves.
						For example, we will share information to respond to a court order or subpoena. We may share it if a government agency or investigatory body requests. We might share information when we are investigating potential fraud.

					%p
						%strong We may share information with any successor to all, or part of, ,our business(es).
						For example, if part of our business were to be sold, we may provide our customer list as part of that transaction.

					%p
						%strong We may share information for other reasons that we may describe to you.

					.spacer-md.clearfix
					%h4 You have certain choices about our marketing and tracking tools.
					%p
						%strong
							You can opt out of receiving our marketing emails.
						To stop receiving our promotional emails, simply send us an email at
						%a{:href => "mailto:support@healthengine.com", target: "_blank",	class:"text-link"}support@healthengine.com
						with the subject “Unsubscribe;” write to us at the below address (include your email address); or use the unsubscribe function in any promotional message you get from us.	Even if you opt out of getting our marketing messages, we will still send you transactional messages. These include responses to your questions, order confirmations, and other important notices about your account and/or services you have booked through HealthEngine.

					%p
						%strong You can control cookies and tracking tools.
						Your browser may give you the ability to control cookies.	How you do so depends on the type of cookie.	Certain browsers can be set to reject browser cookies.	To control flash cookies, which we may use on certain websites from time to time, you can go here.	Why?	Because flash cookies cannot be controlled through your browser settings.	If you block cookies on your browser, certain features on our sites may not work. Options you select are browser- and device-specific. And, if you block or delete cookies, it is possible that all of the tracking that we have described in this policy may not stop.

					%p
						%strong Do Not Track.
						Some browsers have a “Do Not Track” feature that lets you tell websites that you do not want to have your online activities tracked.	These features are not yet uniform, so we are not currently set up to respond to those signals.

					.spacer-md.clearfix
					%h4 Your California privacy rights.
					%p If you reside in California, you have the right to ask us one time each year whether we have shared personal information with third parties for their direct marketing purposes. To make a request, please send us an email, or write to us at the address listed below, indicating in your letter that you are a California resident making a “Shine the Light” inquiry.

					.spacer-md.clearfix
					%h4 These sites and children.
					%p Our site is meant for adults.	We do not knowingly collect personally identifiable information from children under 13 without permission from a parent or guardian.	If you are a parent or legal guardian and believe your child under 13 has given us information, you can email us.	You can also write to us at the address listed at the end of this policy.	Please mark your inquiries “COPPA Information Request.”	Parents, you can learn more about how to protect your childrens’ privacy on-line here.

					.spacer-md.clearfix
					%h4 We use standard security measures.
					%p The Internet is not 100% secure.	We cannot promise that your use of our site will be completely safe.	We encourage you to use caution when using the Internet.

					%p We keep personal information as long as it may be necessary or relevant to do so for the practices described in this Policy. We also keep information as otherwise required by law.

					.spacer-md.clearfix
					%h4 We store information in the United States.
					%p Information we maintain will be stored within the United States. If you live outside of the United States, you understand and agree that we may transfer your information to the United States.

					.spacer-md.clearfix
					%h4 We may link to other sites or have third party services on our site we don’t control.
					%p If you click on a link to a third-party site, you will be taken to websites that we do not control.	This policy does not apply to the privacy practices of that website.	Read the privacy policy of other websites carefully.	We are not responsible for these third-party sites.

					.spacer-md.clearfix
					%h4 Feel free to contact us if you have more questions.
					%p
						If you have any questions about this Policy or other privacy concerns, please email us at
						%a{:href => "mailto:support@healthengine.com", target: "_blank", class:"text-link"}support@healthengine.com.
					%p You can also write to us or call at:
					%p HealthEngine, LLC
					%p Customer Privacy
					%p 400 N. Michigan Ave.
					%p Suite 450
					%p Chicago, IL 60611
					%p
						Phone:
						%strong 312-595-9240

					.spacer-md.clearfix
					%h4 We may update this Policy.
					%p From time to time we may change our privacy policies.	We will notify you of any material changes to our Policy as required by law.	We will also post an updated copy on our website.	Please check our site periodically for updates.
