%section.document
	.container
		.row
			.col-sm-10.col-sm-offset-1.document-page
				.legal
					%h2 HEALTHENGINE
					%h4  TERMS AND CONDITIONS OF USE

					%p HealthEngine, LLC (“HealthEngine”) owns and operates the HealthEngine Internet site located at www.healthengine.com and other websites and mobile applications or platforms on which these Terms and Conditions of Use appear (collectively, including all content "Website").  Your continued access and use of the Website is conditional on your acceptance and compliance with the terms and conditions of use set out below (this “Terms of Use”).  These Terms of Use will govern your use of any new or existing Website features as well as call-in or “concierge” services provided by HealthEngine in connection with the Website (together the “Services”).  Nothing in these Terms of Use will be deemed to confer any third-party rights or benefits, except as specifically set forth herein.  THESE TERMS OF USE CONTAIN DISCLAIMERS AND OTHER PROVISIONS THAT LIMIT OUR LIABILITY TO YOU.

					%p By accessing, browsing, using and/or downloading the pages in this Website and using the Services, you agree to accept and comply with these Terms of Use for each use and visit to this Website and use of the Services.  If you do not agree to accept and comply with these Terms of Use, you should not access, browse or otherwise use this Website or the Services.

					%p HealthEngine reserves the right, at any time, to modify, alter, or update these Terms of Use, and you agree to be bound by such modifications, alterations, or updates. Such changes, modifications, additions or deletions will be effective immediately upon notice to you, which may be given by any means, including but not limited to posting on this Website or by electronic or conventional mail. You agree to regularly review these Terms of Use and to be aware of such revisions. Your use of this Website following any such change constitutes your agreement to follow and be bound by these Terms of Use as changed.

					%p
						%strong The Website and Services may not be used by any person who is enrolled in any health plan offered by the United States federal government, including, but not limited to, Medicare, Medicaid and Tri-Care.

					.spacer-md.clearfix
					%h4  GRANT AND RESTRICTIONS ON USE
					%p All information, including, without limitation, all text, design, graphics, drawings, photographs, advertisements, video clips, music and sounds, and all trade-marks, service marks and trade names and the selection and arrangements thereof (collectively the “Content”) comprised in the Website, excluding any User Submissions as defined below (“Site Content”) is, unless otherwise noted, subject to intellectual property rights including copyrights and trademarks held by or licensed by HealthEngine. Except as expressly provided in these Terms of Use, no license to use, copy, distribute, republish, transmit or otherwise exploit any Site Content is given to you and all intellectual property rights in and to the Site Content are expressly reserved to HealthEngine.

					.spacer-md.clearfix
					%h4  ACCOUNT
					%p In order to access some features of the Website, you will have to create an account, which may require you to provide certain personal information including, but not limited to, your name, postal code, email address and health insurance information (“Account”). You may never use another's Account without permission. When creating your Account, you must provide accurate and complete information. By creating an Account, you represent and warrant that the information you provide is true and accurate and that you will keep it up-to-date.

					%p You are solely responsible for the activity that occurs on your Account, and you must keep your Account password confidential and secure. You must notify HealthEngine immediately of any breach of security or unauthorized use of your Account.

					%p Although HealthEngine will not be liable for your losses caused by any unauthorized use of your Account, you may be liable for the losses of HealthEngine or others due to such unauthorized use.

					%p
						Use of information collected by the Website is governed by the HealthEngine Privacy Policy available at
						%a{:href => "www.healthengine.com", class:"text-link"}healthengine.com

					.spacer-md.clearfix
					%h4  ACCESS TO HEALTH PLAN INFORMATION
					%p By creating an Account you agree to permit HealthEngine to retrieve yours or your minor dependents’ healthcare plan information maintained online by third-party administrators of your health plans or other third parties with which you, your provider, or your plan may or may not engage in healthcare transactions ("Health Plan Information"). You agree and Acknowledge that HealthEngine does not review the Health Plan Information for any purpose, including but not limited to accuracy or legality, and that any Health Plan Information displayed by HealthEngine in your Account or used by HealthEngine to calcuate estimated prices for services listed on HealthEngine is for your conveninece only and HealthEngine makes no warranty or representation as to the accuracy of any such Health Plan Information. By using the Services, you expressly authorize HealthEngine to access your Health Plan Information that may be maintained by third-parties, on your behalf as your agent.

					%p For purposes of these Terms of Use, and solely to obtain your Health Plan Information as part of the Services, you grant HealthEngine a limited power of attorney, and appoint HealthEngine as your attorney-in-fact and agent, to access third-party sites, retrieve and use your Health Plan Information with the full power and authority to do and perform each thing necessary in connection with such activities, as you could do in person. YOU ACKNOWLEDGE AND AGREE THAT WHEN HEALTHENGINE IS ACCESSING AND RETRIEVING HEALTH PLAN INFORMATION FROM THIRD-PARTY SITES, HEALTHENGINE IS ACTING AS YOUR AGENT, AND NOT AS THE AGENT OF OR ON BEHALF OF THE THIRD PARTY. You understand and agree that the Services are not sponsored or endorsed by any third parties from which HealthEngine may access your information or that may be accessible through the Services.

					%p By agreeing to these Terms of Use, you hereby appoint HealthEngine as your agent and designee for purposes of exercising your right to access your protected health information ("PHI") in accordance with the Health Insurance Portability and Accountability Act and regulations issued thereunder (collectively, "HIPAA"). HealthEngine will act as your agent for the sole purpose of obtaining PHI contained in your designated record set (as that term is defined under HIPAA) to provide the Service. You agree that HealthEngine, as your agent, shall request that your PHI be provided in electronic format with the data fields and frequency that HealthEngine deems necessary to provide the Service. Your appointment of HealthEngine as your agent pursuant to this paragraph shall continue until such time as you may terminate the Services.

					.spacer-md.clearfix
					%h4  MEDICAL SERVICE AND SERVICE PROVIDER INFORMATION AVAILABLE THROUGH THE SERVICES
					%p The Services may include providing listings of various medical services and procedures (“Medical Services”) provided by third-party organizations, physicians, hospitals, and other medical service providers (“Medical Service Providers”), and potentially booking appointments with Medical Service Providers for provision of these Medical Services.  As part of the Services, HealthEngine may also provide information about the Medical Service Providers, including but not limited to biographical and address information (“Medical Service Provider Information”) and Medical Services, including, but not limited to instructions from the relevant Medical Service Provider (“Medical Service Information”). All Medical Service Provider Information and Medical Service Information is provided to HealthEngine by the Medical Service Providers or third-party data providers.  You acknowledge and agree that HealthEngine is not responsible in any way for the Medical Service Provider Information and Medical Service Information, and makes no warranties or representations as to the accuracy of the Medical Service Provider Information and Medical Service Information. You acknowledge and agree that Medical Service Provider Information, Medical Service Information, and any other Site Content or information provided to you through the Services is for your convenience only and does not constitute medical advice, nor may it be relied upon in this regard or in terms of potential financial implications of using such information when making healthcare decisions.

					%p HealthEngine is not permitted to provide medical advice, diagnose, or otherwise treat users through the Services. Neither the Medical Service Provider Information, Medical Service Information, nor other Site Content or Services are intended to be for medical diagnosis or treatment purposes. Persons accessing this information assume full responsibility for the use of the information and agree that HealthEngine is not responsible or liable for any claim, loss, or damage arising from the use of the information. HealthEngine does not recommend or endorse any specific Medical Service or Medical Service Provider. Your reliance upon any information provided to you through the Services is solely at your own risk, and you should confirm any Medical Service Provider Information or Medical Service Information with the Medical Service Provider or your physician.

					.spacer-md.clearfix
					%h4  PRICE INFORMATION AVAILABLE THROUGH THE SERVICES
					%p The Services may include the provision of price information for various Medical Services (“Price Information”).  This Price Information may be labeled as “Estimated Price,” “HealthEngine Price,” “Your Estimated Payment,” or “Your Estimated Price” or other similar labels.  Unless otherwise indicated, all Price Information represents an estimate only.

					%p Actual prices and the actual out-of-pocket costs for Medical Services may vary from the Price Information, and will be determined by your health plan following submission of claims for payment or reimbursement for services that you may receive.

					%p HealthEngine does not interface directly with your health plan to obtain a specific quote for you on the charges and payments that the health plan will approve for Medical Services. Price Information is based upon review of various sources on payment amounts, including but not limited to, amounts that your health plan or similar health plans have reimbursed for specified services and items (e.g., data on historical and regional cost of the service, adjusted by proprietary factors that compare such data with payments allowed under the Medicare program and other commercial health plans). HealthEngine estimates of out-of-pocket cost to you for Medical Services are based upon information HealthEngine obtains from you and other sources about your eligibility as a member of a health plan, and your status at the time you may be researching such information on the Medical Services, according to your health plan’s requirements for deductibles, coinsurance, and copayment amounts.  This information may not be accurate, current, or complete for many reasons including, but not limited to, those beyond the control of HealthEngine, such as incorrect Health Plan Information.

					%p Price Information for Medical Services generally includes professional services fees, facility charges, drugs costings, supplies charges, and other items which may be specified in the Pricing Information, and which the Medical Service Providers may typically include as standard items for Medical Services, but may not include charges for other services and items required at the time of the Medical Services due to complications, post-procedure recommendations, and other unexpected services, or late or missed appointment fees, for which additional charges may be added at the time of service or thereafter. HealthEngine is not, under any circumstances, responsible for any charges that may be incurred for any Medical Services you may receive.
					Price Information labeled as "HealthEngine Price" represents a price negotiated by HealthEngine available to users of the Services.

					.spacer-md.clearfix
					%h4  PAYMENT FOR MEDICAL SERVICES BOOKED THROUGH HEALTHENGINE
					%p If you schedule any Medical Services through HealthEngine (“Booked Services”), you agree to be fully responsible for payment for those Booked Services (whether to the healthcare provider and/or HealthEngine) as they become due, including but not limited to all related taxes and patient liability amounts due and any interest or penalties due for late payments, as determined by the Medical Service Provider or HealthEngine, as applicable.  If your payment for services is due to HealthEngine, you agree to HealthEngine storing your payment card or bank account information, if necessary.

					.spacer-md.clearfix
					%h4  HEALTH PLAN INFORMATION AVAILABLE THROUGH THE SERVICES
					%p HealthEngine is not responsible for errors in statements, interpretations, advice, or opinions by HealthEngine regarding your eligibility status, and healthcare coverage and payment options with your health plan, which are offered solely as an aid to assist you with your decision-making.  These statements are based on Health Plan Information obtained by HealthEngine from you and other sources, which may not be complete, current, or accurate.

					%p HealthEngine works with vendors that provide direct access to Health Plan Information for instant eligibility checks via a programming interface typically requisitioning the latest information available from the third-party organization or insurance carrier’s eligibility system.  This Health Care Information obtained by HealthEngine may not be accurate, current, or complete for reasons within or beyond the control of HealthEngine, and your eligibility status may change after you receive assistance from HealthEngine.

					%p The ultimate decision rests solely with your health plan as to whether you are a member and eligible for coverage, whether a charge for services or other items is covered for payment under your health plan, and what portion of billed charges will be discounted based on agreements between the provider and your health plan and/or paid by the health plan or by you.

					.spacer-md.clearfix
					%h4  ACCEPTABLE USE
					%p Users if the Website are prohibited from:
					%ul
						%li using the Website to send or post harassing, abusive, or threatening messages;
						%li transmitting through the Website any information, data, text, files, links, software, or other materials that are unlawful, harmful, threatening, abusive, harassing, defamatory, vulgar, obscene, pornographic, hateful, racially, ethnically or otherwise objectionable, soliciting passwords or personal information for commercial or unlawful purposes, including hidden pages, links or images, providing instructional information about illegal activities, or which threatens our relationships with our partners, customers or suppliers;
						%li attempting to conceal or misrepresent the identity or purposes of the sender or person submitting the information;
						%li disrupting the normal flow of the Website, including any dialogue on the Website, or otherwise acting in a manner that negatively affects other participants;
						%li sending spam or other direct marketing communications or posting, transmitting or linking to any unsolicited advertising, promotional materials, or any other forms of solicitation or commercial content;
						%li intentionally or unintentionally performing or promoting any activity that would violate any applicable local, state, national or international law, including but not limited to any regulations having the force of law while using or accessing the Website;
						%li posting or transmitting executable programming of any kind, including viruses, spyware, trojan horses, easter eggs, or any other form of computer programming or disabling mechanism;
						%li posting User Submissions or using the Website in such a way that damages the image or rights of HealthEngine, other users or third parties;
						%li using any robot, spider or other automatic program or device, or manual process to monitor, copy, summarize, or otherwise extract information from this Website or the Site Content in whole or in part, including, without limitation, creating any frames at any other Websites pertaining to any portions of this Website.

					.spacer-md.clearfix
					%h4  RELEASE AND INDEMNITY
					%p Your User Submission is voluntary and subject to the Privacy Policy. You are responsible for the content of the User Submission and agree to defend (at HealthEngine’s option and at your sole expense), indemnify and hold HealthEngine harmless from any damages, losses, costs, or expenses, including attorneys' fees, which HealthEngine may incur as a result of your User Submission. If you are viewing this Website on a public computer or are otherwise using a computer to which multiple people have potential access, be sure to follow all relevant instructions to ensure you are sufficiently disconnected and logged off this Website and the computer system you are using to prevent unauthorized User Submissions. HealthEngine retains the right to review, edit, or delete from this Website any User Submission which HealthEngine in its sole discretion considers illegal, offensive, or otherwise inappropriate or may infringe the rights of HealthEngine or any third party without prior notice.

					%p HealthEngine does not endorse any User Submission or any opinion, recommendation, or advice expressed therein. You also acknowledge and agree that you, and not HealthEngine, are entirely responsible for your User Submission and that HealthEngine does not control the User Submissions posted on the Website, as such, does not guarantee the accuracy, integrity or quality of such User Submission. You understand that by using or viewing the Website, you may be exposed to content that is offensive, indecent or objectionable. HealthEngine expressly disclaims any and all liability in connection with User Submissions.

					.spacer-md.clearfix
					%h4  ACCESS AND ACCOUNT TERMINATION
					%p HealthEngine reserves the right to deny or revoke access to this Website, or any part thereof, or to otherwise terminate a user's access to its Website, at any time in its sole discretion, with or without cause and without notice to you.

					.spacer-md.clearfix
					%h4  ACCESS TO SITE
					%p While HealthEngine endeavors to ensure that this Website is available at all times, HealthEngine will not be liable if, for any reason, this Website is unavailable at any time or for any period.

					.spacer-md.clearfix
					%h4  DISCLAIMER
					%p THE MATERIALS, INFORMATION AND SERVICES ON THIS WEBSITE ARE PROVIDED “AS IS” WITHOUT ANY REPRESENTATIONS, CONDITIONS, WARRANTIES OR OTHER TERMS OF ANY KIND.  TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, HEALTHENGINE DISCLAIMS ALL REPRESENTATIONS, WARRANTIES, CONDITIONS AND OTHER TERMS, EXPRESS OR IMPLIED (INCLUDING WITHOUT LIMITATION ANY IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABLE QUALITY, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT), INCLUDING THOSE ARISING BY STATUE OR OTHERWISE IN LAW OR FROM A COURSE OF DEALING OR USAGE OF TRADE.  HEALTHENGINE DOES NOT REPRESENT, WARRANT OR COVENANT THAT THE WEBSITE WILL BE AVAILABLE OR ERROR FREE.

					.spacer-md.clearfix
					%h4  LIMITATION OF LIABILITY
					%p YOU ACKNOWLEDGE THAT YOUR USE OF THE WEBSITE AND SERVICES IS AT YOUR SOLE RISK.  TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, HEALTHENGINE, ITS SUBSIDIARIES AND CORPORATE AFFILIATES, ANY OTHER PARTY (WHETHER OR NOT INVOLVED IN CREATING, PRODUCING, MAINTAINING OR DELIVERING THE SERVICES) AND THE OFFICERS, DIRECTORS, EMPLOYEES, SHAREHOLDERS AND AGENTS OF HEALTHENGINE OR THAT PARTY (“RELEASED PARTIES”) EXCLUDE ALL LIABILITY AND RESPONSIBILITY FOR ANY AMOUNT OR KIND OF LOSS OR DAMAGE THAT MAY RESULT TO YOU OR A THIRD PARTY (INCLUDING WITHOUT LIMITATION, ANY DIRECT, INDIRECT, PUNITIVE OR CONSEQUENTIAL LOSS OR DAMAGE OR ANY LOSS OF INCOME, PROFITS, GOODWILL, DATA, CONTRACTS, USE OF MONEY, OR LOSS OR DAMAGE ARISING FROM OR CONNECTED IN ANY WAY TO BUSINESS INTERRUPTION AND WHETHER IN TORT (INCLUDING WITHOUT LIMITATION NEGLIGENCE, GROSS NEGLIGENCE OR OTHERWISE) IN CONNECTION WITH THE WEBSITE OR SERVICES IN ANY WAY OR IN CONNECTION WITH THE USE, INABILITY TO USE, OR THE RESULTS OF USE OF THE WEBSITE OR SEVICES, UNAUTHORIZED ACCESS TO OR ALTERNATION OF YOUR SUBMISSIONS OR DATA, STATEMENTS OR CONDUCT OF ANY THIRD PERSON ON THE WEBSITE OR SERVICES, ANY OTHER MATTER RELATED TO THIS WEBSITE OR SERVICES AND ANY WEBSITES OR SERVICES LINKED TO THE SITE, OR THE MATERIAL ON SUCH WEBSITES, INCLUDING BUT NOT LIMITED TO LOSS OR DAMAGE DUE TO VIRUSES THAT MAY AFFECT YOUR COMPUTER EQUIPMENT, SOFTWARE, DATA OR OTHER PROPERTY ON ACCOUNT OF YOUR ACCESS TO, USE OF, OR BROWSING THE WEBSITE OR YOUR DOWNLOADING OF ANY MATERIAL FROM THE WEBSITE OR ANY WEBSITE LINKED TO THE WEBSITE.

					%p ALL MEDICAL SERVICE PROVIDERS ON THE WEBSITE OR SERVICES ARE INDEPENDENT CONTRACTORS AND NOT AGENTS OR EMPLOYEES OF HEALTHENGINE. YOU ACKOWLEDGE AND AGREE THAT THE RELEASED PARTIES ARE NOT LIABLE FOR THE ACTS, ERRORS, OMISSIONS, REPRESENTATIONS, WARRANTIES, BREACHES OR NEGLIGENCE OF ANY MEDICAL SERVICE PROVIDER OR FOR ANY PERSONAL INJURIES, DEATH, PROPERTY DAMAGE, OR OTHER DAMAGES OR EXPENSES RESULTING THEREFROM. THE RELEASED PARTIES SHALL HAVE NO LIABILITY AND WILL MAKE NO REFUND IN THE EVENT OF ANY DELAY, CANCELLATION, OVERBOOKING, STRIKE, FORCE MAJEURE OR OTHER CAUSES BEYOND THEIR DIRECT CONTROL, AND THEY HAVE NO RESPONSIBILITY FOR ANY ADDITIONAL EXPENSE, OMISSIONS, DELAYS, RE-ROUTING OR ACTS OF ANY GOVERNMENT OR AUTHORITY.

					%p IF, DESPITE THE LIMITATION ABOVE, THE RELEASED PARTIES ARE FOUND LIABLE FOR ANY LOSS OR DAMAGE WHICH ARISES OUT OF OR IN ANY WAY CONNECTED WITH THE WEBSITE OR SERVICES, THEN THE LIABILITY FOR THE RELEASED PARTIES WILL IN NO EVENT EXCEED, IN THE AGGREGATE, THE GREATER OF (A) THE TRANSACTION FEES ASSESSED FOR YOUR TRANSACTIONS ON THIS WEBSITE, OR (B) ONE-HUNDRED DOLLARS (US$100.00).

					.spacer-md.clearfix
					%h4  GOVERNING LAW AND DISPUTES
					%p THESE TERMS OF USE ARE GOVERNED BY AND WILL BE CONSTRUED IN ACCORDANCE WITH THE LAWS OF ILLINOIS.  ANY LEGAL ACTION OR PROCEEDING RELATING TO YOUR ACCESS TO, OR USE OF, THE WEBSITE OR THESE TERMS OF USE WILL BE INSTITUTED ONLY IN ALOCAL, STATE, OR FEDERAL COURT LOCATED IN COOK COUNTY, ILLINOIS. YOU AND HEALTHENGINE AGREE TO SUBMIT TO THE JURISDICTION OF, AND AGREE THAT VENUE IS PROPER IN, THESE COURTS IN ANY SUCH LEGAL ACTION OR PROCEEDING.

					.spacer-md.clearfix
					%h4  WAIVER
					%p The delay or omission by either party to enforce or exercise any terms or right pursuant to these Terms of Use will not impair any such term or right nor be construed to be a waiver thereof and will in no way affect the other party’s right later to enforce it. Any waiver by either party of any covenants, conditions or agreements to be performed by the other party will not be construed to be a waiver of any succeeding breach thereof or any covenant, conditions or agreement herein contained.

					.spacer-md.clearfix
					%h4  THIRD PARTY LINKS
					%p The Website may contain links to third-party websites that are not owned or controlled by HealthEngine. HealthEngine has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party websites. In addition, HealthEngine will not and cannot censor or edit the content of any third-party site. By using the Website, you expressly relieve HealthEngine from any and all liability arising from your use of any third-party website.

					%p Accordingly, we encourage you to be aware when you leave the Website and to read the terms and conditions and privacy policy of each other website that you visit.

					.spacer-md.clearfix
					%h4  MISCELLANEOUS
					%p If any part of these Terms and Conditions is unlawful, void, or unenforceable, that part will be deemed severable and will not affect the validity or enforceability of any remaining provisions. Any information related to your use of this Website for illegal purposes will be provided to law enforcement authorities. These Terms of Use constitutes the entire agreement between the parties relating to the use of this Website and supersedes and replaces any prior agreement and communication between the parties relating thereto.
