%section.document
  .container
    .row
      .col-sm-10.col-sm-offset-1.document-page
        .div.legal
          %p
            %strong HealthEngine User Agreement

          %p NOTE: YOU ARE CONCLUDING A LEGALLY BINDING AGREEMENT

          %p Welcome to the HealthEngine.com website (the "Site"). HealthEngine.com is a website service (the "Service") offered by HealthEngine, LLC, a Delaware limited liability company ("HealthEngine"). Before you begin, please take a minute to ensure that you understand the terms and conditions of ourrelationship by reading this important information, which includes certain limitation of liability and indemnification provisions applicable to your use ofthe Service.

          %p These Terms of Use are an agreement between HealthEngine and users of its Site ("you" or "user"). BY CLICKING ON "I AGREE" BELOW, YOU INDICATE YOUR ACCEPTANCE OF THESE TERMS OF USE. We reserve the right to update or change these Terms of Use at any time and for any reason, however, if we make material changes, we will notify registered users by e-mail, post a notice on our home page or alert you to such changes by other similar means. By continuing to use this Site, you agree to accept any such revisions. The date of the last update is stated at the top of this document. As long as you comply with these Terms of Use, as revised, and are at least 18 years of age, HealthEngine grants you a personal, non-exclusive, non-transferable, non-sublicenseable, revocable, limited privilege to enter its Site and use the Services.

          %p In consideration of your use of the Services, you agree to: (a) provide true, accurate, current and complete information about yourself as prompted by the registration form, and (b) to maintain and update this information to keep it true, accurate, current and complete. If any information provided by you is untrue, inaccurate, not current or incomplete, HealthEngine has the right to terminate your account and refuse any and all current or future use of the Services.

          %p
            These Terms of Use expressly incorporate herein by reference the provisions of our Privacy Statement, which can be found at 
            %a{:href => "http://healthengine.com/search/terms", target: "_blank", class: "bold" }
            HealthEngine.com/search/terms.
            Our Privacy Statement discloses HealthEngine’s practices regarding the collection and use of your personal information. By agreeing to these Terms of Use, you are also agreeing to the terms of our Privacy Statement and consenting to the use and disclosure of information provided to us as outlined therein. You should also read other policies that govern other parts of our Site.

          %p If you accept these Terms of Use and register for HealthEngine, but later decide that you want to deactivate your account, please contact Customer Support at 888-722-0483 and a Guide will verify your identity and complete your request.

          %p 1. LIMITATIONS

          %p Rely at Your Own Risk:

          %p Reliance on information provided on this Site is solely at your own risk. You should exercise independent judgment before applying any information provided on this Site to your own financial and health management needs, or otherwise relying on other information. No one person’s financial or health care needs are the same, therefore, there is no guarantee that information provided is accurate.

          %p Changes to Site:

          %p You acknowledge that while we make an effort to keep you updated on important changes, such as by notifying you at login that a new Terms of Use is available for review, the Site and Services may be changed, modified or updated at any time for any reason without direct notice to you and information may not always be up to date. HealthEngine may also make modifications or changes in, or discontinue products, services or programs offered at any time with or without notice. We reserve the right to remove, screen, edit, or reinstate content, including third party and user content, from time to time at our sole discretion and without notice to you. For example, we may remove a review if we believe it violates our guidelines. We have no obligation to retain or provide you with copies of content, nor do we guarantee any confidentiality with respect to user content.

          %p Not Professional Advice:

          %p Neither HealthEngine nor the Service is intended to provide legal, medical, healthcare coverage, tax or financial advice. HealthEngine is not, and is not an agent of, a healthcare provider, a healthcare plan, a healthcare broker or tax or financial advisor. The Service is intended only to assist you in the organization of and decision-making relating to your health care coverage and payment options and is broad in scope. Your personal situation is unique, and any information and advice obtained through the Service may not be appropriate for your situation. Accordingly, before making any final decisions or implementing any financial or health care strategy, you should consider obtaining additional information and advice from your health care provider, healthcare plan, advisor, broker or others who are fully aware of your individual circumstances.

          %p The drug information in the Service is intended to supplement, not substitute for, the expertise and judgment of your healthcare professional. The information is not intended to cover all possible uses, directions, precautions, drug interactions or adverse effects, nor should it be construed to indicate the use of a particular drug is safe, appropriate or effective for you. You should consult your healthcare professional before taking any drug, changing your diet or commencing or discontinuing any course of treatment.

          %p Not Responsible for Coverage Determinations:

          %p HealthEngine will provide assistance to help you understand your healthcare coverage and payment options. Statements, interpretations, advice or opinions by HealthEngine regarding healthcare coverage and/or payment options are solely provided to assist you with your decision making and are based on HealthEngine’s review of information available to HealthEngine regarding your plan (which may or may not be complete and/or current) and information provided to HealthEngine by you. The ultimate decision on whether a procedure or drug is covered, and to what extent coverage may be provided, rests solely with your health plan provider.

          %p Educational Resources:

          %p HealthEngine may make available self-care informational services which provide general medical and health information. These communications and resources are not comprehensive medical texts and do not include all the potential information regarding the subject matter. These communications and resources are for general educational and informational purposes only, and should not be relied upon as a substitute for patient-specific medical diagnosis and treatment or construed, directly or indirectly, as the practice of medicine or dispensing of medical services by HealthEngine. Such information is not a substitute for seeing an appropriate healthcare professional for medical treatment. HealthEngine makes no warranty as to the content of these materials or the information contained therein.

          %p User Reviews:

          %p User reviews are not intended to be used as an evaluation of a professional service. HealthEngine does not intend and does not provide professional medical advice and the evaluations by users are equally not a professional medical opinion or evaluation. User reviews are based on personal experiences of users that may not be complete, comprehensive, representative of, or applicable to your individual circumstances. Please consult your health care provider, healthcare plan, advisor, broker or other relevant professional regarding your specific situation. Any reliance on user reviews is solely at your own risk.

          %p
          Should you choose to submit a user review, you agree that: (a) you will not submit with your user review any PHI (as further defined below) or other personally identifiable information relating to you or any other individual which, together with other information, may be used to identify you or any other individual; (b) your user review is accurate and does not violate these Terms of Use, including the Restriction on Use set forth in greater detail below; (c) you own or otherwise control and are responsible for the content of your user review and assume all risks associated therewith, including anyone’s reliance on its quality, accuracy, or reliability; and (d) HealthEngine retains the absolute right and sole discretion to publish, post, display, remove, screen, edit, or reinstate your review without notice to you.

          %p 2. PAYMENT AND PREMIUM SERVICES

          %p
            If you purchase any services that we or affiliates of ours offer for a fee, either on a one-time or subscription basis ("Premium Services"), you agree to HealthEngine storing your payment card information. You also agree to pay the applicable fees for the Premium Services (including, without limitation, periodic fees for premium accounts) as they become due plus all related taxes, and to reimburse us for all collection costs and interest for any overdue amounts. Your obligation to pay fees continues through the end of the subscription period during which you cancel your subscription. You may cancel your Premium Services by contacting
            %a{:href => "mailto:support@healthengine.com"}support@HealthEngine.com. 
            You also acknowledge that HealthEngine's Premium Services are subject to this Agreement and any additional terms related to the provision of the Premium Service. All fees and charges are nonrefundable and there are no refunds or credits for partially used periods. All Premium Services, including upgrades and additional messages acquired as part of your Premium account, expire immediately upon cancellation or termination of your Premium account. Any and all prices displayed on HealthEngine include any and all requisite fees owed to HealthEngine by the user.

          %p 2. RIGHTS YOU GRANT TO US

          %p With the Service, you may permit HealthEngine to retrieve your or your minor dependents information maintained online by third party administrators of your health plans or other third parties with which you engage in healthcare transactions ("Account Information"). We make no effort to review the Account Information for any purpose, including but not limited to accuracy, legality or non-infringement. We are not responsible for the products and services offered by or on third-party sites. HealthEngine cannot always foresee or anticipate technical or other difficulties that may result in failure to obtain data or loss of data, personalization settings or other service interruptions. HealthEngine cannot assume responsibility for the timeliness, accuracy, deletion, non-delivery or failure to store any user data, communications or personalization settings. For example, when displayed through the Service, Account Information is only as fresh as the time shown, which reflects when the information is obtained from such sites. By submitting information, data, passwords, usernames, PINs, other login information, materials and other content to us through the Service, you are licensing that content to HealthEngine solely for the purpose of providing the Service. HealthEngine may use and store the content, but only to provide the Service. By submitting this content to HealthEngine, you represent that you are entitled to submit it to HealthEngine for use for this purpose, without any obligation by HealthEngine to pay any fees or other limitations. By using the Service, you expressly authorize HealthEngine to access your Account Information maintained by identified third parties, on your behalf as your agent. HealthEngine will submit information including usernames and passwords that you provide to log into and retrieve Account information from each third party site.

          %p For purposes of these Terms of Use and solely to obtain your Account Information as part of the Service, you grant HealthEngine a limited power of attorney, and appoint HealthEngine as your attorney-in-fact and agent, to access third party sites, retrieve and use your Account information with the fullpower and authority to do and perform each thing necessary in connection with such activities, as you could do in person. YOU ACKNOWLEDGE AND AGREE THAT WHEN HEALTHENGINE IS ACCESSING AND RETRIEVING ACCOUNT INFORMATION FROM THIRD PARTY SITES, HEALTHENGINE IS ACTING AS YOUR AGENT, AND NOT AS THE AGENT OF OR ON BEHALF OF THE THIRD PARTY. You understand and agree that the Service is not sponsored or endorsed by any third parties from whom HealthEngine may access your information or that may be accessible through the Service.

          %p By agreeing to these Terms of Use, you hereby appoint HealthEngine as your agent and designee for purposes of exercising your right to access your protected health information ("PHI") in accordance with the Health Insurance Portability and Accountability Act and regulations issued thereunder (collectively, "HIPAA"). HealthEngine will act as your agent for the sole purpose of obtaining PHI contained in your designated record set (as that term is defined under HIPAA) to provide the Service. You agree that HealthEngine, as your agent, shall request that your PHI be provided in electronic format with the data fields and frequency that HealthEngine deems necessary to provide the Service. Your appointment of HealthEngine as your agent pursuant to this paragraph shall continue until you terminate the Service. HealthEngine shall pay all charges that may be incurred as a result of HealthEngine’s requests for your PHI as your agent.

          %p With respect to any user review that you choose to submit to the Service, you grant HealthEngine a nonexclusive, royalty-free, perpetual, transferable, irrevocable and fully sublicensable right to use, reproduce, delete, modify, adapt, translate, distribute, publish, create derivative works from and publicly display and perform information contained in such a user review for any purpose whatsoever throughout the world in any media, now known or hereafter devised. In addition, you further agree that HealthEngine retains the absolute right and sole discretion to publish, post, display, remove, screen, edit, or reinstate your review without notice to you.

          %p 3. LEGAL NOTICES

          %p Disclaimers:

          %p
            YOU UNDERSTAND AND AGREE THAT: YOUR USE OF THE SERVICE AND THE SITE AND ALL INFORMATION, PRODUCTS AND OTHER CONTENT (INCLUDING THAT OF THIRD PARTIES) INCLUDED IN OR ACCESSIBLE FROM THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE IS EITHER A BETA (IN DEVELOPMENT) SERVICE OR IS NEWLY IN PRODUCTION AND IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. HEALTHENGINE AND ITS SHAREHOLDERS, PARTNERS, INVESTORS, AFFILIATES, DIRECTORS, OFFICERS, EMPLOYEES OR OTHER REPRESENTATIVES (COLLECTIVELY, "AFFILIATES") EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND AS TO THE SERVICE AND ALL INFORMATION, PRODUCTS AND OTHER CONTENT (INCLUDING THAT OF THIRD PARTIES) INCLUDED IN OR ACCESSIBLE FROM THE SERVICE OR THE SITE, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, HEALTHENGINE IS NOT RESPONSIBLE FOR THE ACCURACY OR RELIABILITY OF ANY REVIEWS, RATINGS OR DATA FROM ANY THIRD PARTY. WHILE HEALTHENGINE TAKES STRINGENT PRECAUTIONS TO PROTECT YOUR DATA AND COMPLY WITH PRIVACY RULES AS SET FORTH IN THE SECURITY STATEMENT, WHICH CAN BE FOUND AT
            %a{:href => "http://www.healthengine.com/security", target: "_blank"}WWW.HEALTHENGINE.COM/SECURITY,
            HEALTHENGINE CANNOT FULLY GUARANTEE THE SECURITY OF ANY INFORMATION YOU MAY PROVIDE OR ANY INTERRUPTIONS IN THE AVAILABILITY OF ANY SERVICE, WHETHER THE RESULT OF ACTIONS BY HEALTHENGINE OR ANY THIRD PARTY. COMPLIANCE WITH THE SECURITY STATEMENT DOES NOT ENSURE THAT, AND HEALTHENGINE AND ITS AFFILIATES MAKE NO WARRANTY THAT, (i) THE SERVICE WILL MEET YOUR REQUIREMENTS, (ii) THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, (iii) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICE WILL BE ACCURATE OR RELIABLE, (iv) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH THE SERVICE WILL MEET YOUR EXPECTATIONS, (v) THE ACCURACY OR RELIABILITY OF ANY THIRD PARTY OR USER REVIEWS, RATINGS OR INFORMATION, AND (vi) ANY ERRORS IN THE TECHNOLOGY WILL BE CORRECTED. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM HEALTHENGINE OR THROUGH OR FROM THE SERVICE WILL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THESE TERMS.

          %p 4. MEDICAL DISCLAIMERS

          %p The contents of HealthEngine, such as text, graphics, images, information obtained from HealthEngine's licensors, users, employees and other material contained in HealthEngine ("Content") is for informational and educational purposes only and are not a substitute for the professional judgment of a health care professional in diagnosing and treating patients. HealthEngine is not permitted to provide medical advice, diagnose, or otherwise treat users through the services. Neither the content nor any other service offered by or through this site is intended to be for medical diagnosis or treatment. Persons accessing this information assume full responsibility for the use of the information and agree that HealthEngine is not responsible or liable for any claim, loss, or damage arising from the use of the information. HealthEngine does not recommend or endorse any specific drugs, tests, physicians, products, procedures, opinions, “off-label” drug uses or other information that may be mentioned on HealthEngine and HealthEngine members are required by the "Do's" of these Terms of Use to disclose any such conflicts of interest. Your reliance upon the Content obtained or used by you is solely at your own risk.

          %p HealthEngine reminds you that the Service is not meant to serve as a substitute for your own or a medical professional’s medical judgment. You should always work with a medical professional in evaluating your care options, and should carefully consider any treatment plan. HealthEngine encourages you to confirm the information made available or otherwise obtained through the Service with other reliable sources before undertaking any treatment.

          %p Limitation of Liability:

          %p THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES PUBLISHED ON THIS WEBSITE MAY INCLUDE INACCURACIES OR ERRORS, INCLUDING PRICING ERRORS. IN PARTICULAR, HEALTHENGINE, ITS SUBSIDIARIES AND CORPORATE AFFILIATES (COLLECTIVELY, THE "HEALTHENGINE COMPANIES") AND THE AFFILIATED, CO- BRANDED AND/OR LINKED WEBSITE PARTNERS THROUGH WHOM WE PROVIDE SERVICE (COLLECTIVELY, "HEALTHENGINE AFFILIATES") DO NOT GUARANTEE THE ACCURACY OF, AND DISCLAIM ALL LIABILITY FOR ANY ERRORS OR OTHER INACCURACIES RELATING TO THE INFORMATION AND DESCRIPTION OF ANY MEDICAL PROCEDURES AS DESCRIBED IN MEDICAL DISCLAIMERS PARAGRAPH 4 ABOVE. OR PRODUCTS DISPLAYED ON THIS WEBSITE (INCLUDING, WITHOUT LIMITATION, THE PRICING, BUNDLES, PROCEDURES, QUALITY DATA, AND OTHER SIMILAR SERVICES OR PRODUCTS OFFERED BY HEALTHENGINE.) IN ADDITION, HEALTHENGINE EXPRESSLY RESERVES THE RIGHT TO CORRECT ANY PRICING ERRORS ON OUR WEBSITE AND/OR ON PENDING SERVICES MADE UNDER AN INCORRECT PRICE. IN SUCH EVENT, WE WILL OFFER YOU THE OPPORTUNITY TO KEEP YOUR PENDING SERVICE AT THE CORRECT PRICE OR, AT YOUR OPTION, WE WILL CANCEL YOUR SERVICE WITHOUT ANY HEALTHENGINE CHANGE OR CANCELLATION FEES.

          %p MEDICAL OR DOCTOR RATINGS DISPLAYED ON THIS WEBSITE ARE INTENDED AS ONLY GENERAL GUIDELINES, AND THE HEALTHENGINE COMPANIES AND THE HEALTHENGINE AFFILIATES DO NOT GUARANTEE THE ACCURACY OF THE RATINGS. THE HEALTHENGINE COMPANIES, THE HEALTHENGINE AFFILIATES AND THEIR RESPECTIVE SUPPLIERS MAKE NO GUARANTEES ABOUT THE AVAILABILITY OF SPECIFIC PRODUCTS AND SERVICES. THE HEALTHENGINGE COMPANIES, THE HEALTHENGINE AFFILIATES AND THEIR RESPECTIVE SUPPLIERS MAY MAKE IMPROVEMENTS AND/OR CHANGES ON THIS WEBSITE AT ANY TIME.

          %p THE HEALTHENGINE COMPANIES, THE HEALTHENGINE AFFILIATES, AND THEIR RESPECTIVE SUPPLIERS MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY OF THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES CONTAINED ON THIS WEBSITE FOR ANY PURPOSE, AND THE INCLUSION OR OFFERING OF ANY PRODUCTS OR SERVICES ON THIS WEBSITE DOES NOT CONSTITUTE ANY ENDORSEMENT OR RECOMMENDATION OF SUCH PRODUCTS OR SERVICES BY THE HEALTHENGINE COMPANIES OR THE HEALTHENGINE AFFILIATES. ALL SUCH INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND. THE HEALTHENGINE COMPANIES, THE HEALTHENGINE AFFILIATES, AND THEIR RESPECTIVE SUPPLIERS DISCLAIM ALL WARRANTIES AND CONDITIONS THAT THIS WEBSITE, ITS SERVERS OR ANY EMAIL SENT FROM THE HEALTHENGINE COMPANIES, THE HEALTHENGINE AFFILIATES, AND/OR THEIR RESPECTIVE SUPPLIERS ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. THE HEALTHENGINE COMPANIES, THE HEALTHENGINE AFFILIATES, AND THEIR RESPECTIVE SUPPLIERS HEREBY DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THIS INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES, INCLUDING ALL IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NONINFRINGEMENT.

          %p *****THE DOCTORS, HOSPITALS OR MEDICAL PROVIDERS OR OTHER SERVICES ON THIS WEBSITE ARE INDEPENDENT CONTRACTORS AND NOT AGENTS OR EMPLOYEES OF THE HEALTHENGINE COMPANIES, OR THE HEALTHENGINE AFFILIATES.***** THE HEALTHENGINE COMPANIES AND THE HEALTHENGINE AFFILIATES ARE NOT LIABLE FOR THE ACTS, ERRORS, OMISSIONS, REPRESENTATIONS, WARRANTIES, BREACHES OR NEGLIGENCE OF ANY SUCH SUPPLIERS OR FOR ANY PERSONAL INJURIES, DEATH, PROPERTY DAMAGE, OR OTHER DAMAGES OR EXPENSES RESULTING THEREFROM. THE HEALTHENGINE COMPANIES AND THE HEALTHENGINE AFFILIATES HAVE NO LIABILITY AND WILL MAKE NO REFUND IN THE EVENT OF ANY DELAY, CANCELLATION, OVERBOOKING, STRIKE, FORCE MAJEURE OR OTHER CAUSES BEYOND THEIR DIRECT CONTROL, AND THEY HAVE NO RESPONSIBILITY FOR ANY ADDITIONAL EXPENSE, OMISSIONS, DELAYS, RE-ROUTING OR ACTS OF ANY GOVERNMENT OR AUTHORITY.

          %p IN NO EVENT SHALL THE HEALTHENGINE COMPANIES, THE HEALTHENGINE AFFILIATES, AND/OR THEIR RESPECTIVE SUPPLIERS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES ARISING OUT OF, OR IN ANY WAY CONNECTED WITH, YOUR ACCESS TO, DISPLAY OF OR USE OF THIS WEBSITE OR WITH THE DELAY OR INABILITY TO ACCESS, DISPLAY OR USE THIS WEBSITE (INCLUDING, BUT NOT LIMITED TO, YOUR RELIANCE UPON OPINIONS APPEARING ON THIS WEB SITE; ANY COMPUTER VIRUSES, INFORMATION, SOFTWARE, LINKED SITES, PRODUCTS, AND SERVICES OBTAINED THROUGH THIS WEBSITE; OR OTHERWISE ARISING OUT OF THE ACCESS TO, DISPLAY OF OR USE OF THIS WEBSITE) WHETHER BASED ON A THEORY OF NEGLIGENCE, CONTRACT, TORT, STRICT LIABILITY, OR OTHERWISE, AND EVEN IF THE HEALTHENGINE COMPANIES, THE HEALTHENGINE AFFILIATES AND/OR THEIR RESPECTIVE SUPPLIERS HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

          %p If, despite the limitation above, the HEALTHENGINE Companies, the HEALTHENGINE Affiliates or their respective suppliers are found liable for any loss or damage which arises out of or in any way connected with any of the occurrences described above, then the HEALTHENGINE Companies, the HEALTHENGINE Affiliates or their respective suppliers liabilities will in no event exceed, in the aggregate, the greater of (a) the transaction fees assessed for your transactions on this Website, or (b) One-Hundred Dollars (US$100.00).

          %p The limitation of liability reflects the allocation of risk between the parties. The limitations specified in this section will survive and apply even if any limited remedy specified in these terms is found to have failed of its essential purpose. The limitations of liability provided in these terms inure to the benefit of the Hotels.com Companies, the Hotels.com Affiliates, and/or their respective suppliers.

          %p Some jurisdictions do not allow the exclusion of certain warranties or the limitation or exclusion of liability for incidental or consequential damages. Accordingly, the above disclaimers and limitations may not apply to you if you reside in such a jurisdiction. You may also have other legal rights that vary from state to state.

          %p 4. INTELLECTUAL PROPERTY

          %p Copyrights Trademarks and Patents:

          %p All of the: (a) content included on the Site, including text, art, graphics, logos, button icons, images, pictures, audio clips and software "Content"); (b)trademarks, trade names, logos, brand names and service marks ("Marks") of HealthEngine, whether registered or unregistered; and © patents and patent applications ("Patent Rights") of HealthEngine, are the property of HealthEngine, its members, partners or content providers, and are protected by U.S. and international copyright, trademark or patent laws, as applicable. Except as granted in the limited license below, any use of: (i) Content, including modification, transmission, presentation, distribution or republication; (ii) Marks; or (iii) Patent Rights is prohibited without the prior written consent of HealthEngine (or if a Mark is owned by a third party, the prior written consent of such third party).

          %p Limited License:

          %p As a user of the Site, HealthEngine authorizes you to download the Content, Marks and other materials (collectively the "Materials") on this Site solely for your personal, non-commercial use. If you violate any provision of these Terms of Use, your permission to use such Materials automatically terminates and you must immediately destroy any copies you have made of any portion of such Materials. This Site or any portion thereof may not be reproduced, duplicated, copied, sold, resold, or otherwise exploited for any commercial purpose that is not expressly permitted by HealthEngine.

          %p Third Party Licenses:

          %p You agree that you will not upload or transmit any communications or content of any type that infringe or violate any rights of any party.

          %p Data:

          %p HealthEngine welcomes your feedback as a user of the Service, and may request your feedback regarding the Service or providers referenced in the Service through surveys, bulletin boards, emails or other means. Any feedback you provide will become the confidential and proprietary information of HealthEngine, and you agree that HealthEngine may use in any manner and without limitation all comments, suggestions, complaints, reviews and other feedback you provide relating to the Service. HealthEngine shall have a worldwide, royalty-free, non-exclusive, perpetual, and irrevocable right to use feedback for any purpose, including but not limited to, incorporation of such feedback into the Service or other HealthEngine software or services.

          %p Contributions to HealthEngine:

          %p By submitting ideas, suggestions, documents, and/or proposals ("Contributions") to HealthEngine through its suggestion or feedback webpages, you acknowledge and agree that: (a) your Contributions do not contain confidential proprietary or protected health information; (b) HealthEngine is not under any obligation of confidentiality, express or implied, with respect to the Contributions; HealthEngine shall be entitled to use or disclose (or choose not to use or disclose) such Contributions for any purpose, in any way, in any media worldwide; (d) HealthEngine may have something similar to the Contributions already under consideration or in development; (e) you irrevocably assign to HealthEngine all rights to your Contributions; and (f) you are not entitled to any compensation or reimbursement of any kind from HealthEngine under any circumstances.

          %p 5. RESTRICTIONS/PASSWORDS AND TERMINATION

          %p Restrictions on Use:

          %p You agree that you will not: (i) use the Service in order to invade the privacy of, obtain the identity of, or obtain any personal information about any other user of the Service; (ii) modify, erase or damage any information contained on the computer of any user connected to the Service; (iii) reverse engineer any portion of the Site or Service, or (iv) use the Site or Materials in any manner that is inconsistent with the limited license granted herein. Additionally, you agree not to post or transmit: (a) i fraudulent, false or contrary to the ownership or intellectual property rights of any other person, or (ii) contains any virus, worm, Trojan horse or other code which is contaminating or destructive to the files or programs of HealthEngine or any of its users. HealthEngine reserves the right to delete any information provided by you that it deems in its sole discretion fraudulent, abusive, defamatory, and obscene or in violation of a copyright, trademark or other intellectual property or ownership right of any other person.

          %p Passwords:

          %p
            As a user of the Service, you will either (a) select a user name and password in order to access the Site; or (b) access the Site through a HealthEngine customer’s or business partner’s password protected site. You hereby agree that you will (i) not distribute your activation code (if applicable); (ii) keepyour password protected and not share it with others; and (iii) promptly inform us or the site through which you access the Site of any need to deactivate a password. You may contact us at 
            %a{:href => "mailto:support@healthengine.com"}support@HealthEngine.com.

          %p TERMINATION:

          %p HEALTHENGINE may terminate these Terms of Use immediately by written notice to you if:

          %p You commit a material or persistent breach of these Terms of Use; or

          %p HEALTHENGINE, at its sole discretion, decides to withdraw the Mobile Application whether in whole or in part.

          %p Upon termination for any reason:

          %p 1. all rights granted to you in the SITE or Content under these Terms of Use shall cease;

          %p 2. you must cease all use of the SITE and Content; and

          %p 3. you must delete or remove the SITES Application from your device.

          %p These Terms of Use are binding on you and us, and on our respective successors and assigns. You may not transfer, assign, charge or otherwise dispose of these Terms of Use, or any of your rights or obligations arising under these Terms of Use, without our prior written consent. We may transfer, assign, charge, sub-contract or otherwise dispose of these Terms of Use, or any of our rights or obligations arising under these Terms of Use, at any time during the term of these Terms of Use.

          %p If we fail, at any time during the term of these Terms of Use, to insist upon strict performance of any of your obligations under these Terms of Use, or if we fail to exercise any of the rights or remedies to which we are entitled under these Terms of Use, this shall not constitute a waiver of such rights or remedies and shall not relieve you from compliance with such obligations. A waiver by us of any default shall not constitute a waiver of any subsequent default. No waiver by us of any of these Terms of Use shall be effective unless it is expressly stated to be a waiver and is communicated to you in writing.

          %p 6. GENERAL LEGAL PROVISIONS

          %p Third Party Links:

          %p The Service may include links to third party websites which may include opinions, information or recommendations of various third parties. In providing such links, HealthEngine does not represent to you that it or any of its customers has investigated the content of such third party websites. HealthEngine does not warrant or guarantee the accuracy of any content included on third party websites nor does it endorse, credential or accredit any opinions, recommendations or information included on such third-party websites. Your use of third-party websites is subject to the terms and conditions of use for such websites.

          %p Governing Law and Jurisdiction:

          %p These Terms of Use are governed by Delaware law for all purposes, including website use and product purchases, without giving effect to any principles of conflicts of laws. You hereby consent to the jurisdiction and venue of the courts in Delaware.

          %p International Laws:

          %p HealthEngine is incorporated in the State of Delaware in the United States of America. HealthEngine makes no claims that the Content of the Service is appropriate or may be downloaded outside of the United States. Access to the Content may not be legal by certain persons or in certain countries. If you access the Service from outside the United States, you do so at your own risk and are responsible for compliance with the laws of your jurisdiction.

          %p Indemnification:

          %p You agree to indemnify, defend and hold harmless HealthEngine, its shareholders, affiliates, directors, managers or, employees or customers from and against any claims, actions or demands, liabilities and settlements including, without limitation, reasonable legal and accounting fees, resulting from your violation of these Terms of Use.

          %p Third Party Rights:

          %p The indemnification provisions set forth above and the provisions under Section 2 Legal Notices and Disclaimers are for the benefit of HealthEngine, its Affiliates, its customers, and its third party providers of data, software and content. Each of these individuals or entities shall have the right to assert and enforce those provisions directly against you on its own behalf.

          %p HIPAABUSINESS ASSOCIATE AGGREEMENT

          %p THE HEALTH INSURANCE PORTABILITY AND ACCOUNTABILITY ACT OF 1996 GENERALLY REQUIRES THAT COVERED ENTITES AND BUSINESS ASSOCIATES ENTER INTO CONTRACTS TO ENSURE THAT THE BUSINESS ASSOCIATE WILL APPROPRIATELY SAFEGUARD PROTECTED HEALTH INFORMATION. A BUSINESS ASSOCIATE CONTRACT SERVES TO CLARIFY AND LIMIT, AS APPRPRIATE, THE PERMISSIBLE USES AND DISCLOSURES OF PROTECTED HEALTH INFORMATION BY THE BUSINESS ASSOCIATE, BASED ON THE RELATIONSHIP BETWEEN THE PARTIES AND THE ACTIVITIES OF SERVICES BEING PERFORMED BY THE BUSINESS ASSOCIATE. YOU AND HEALTHENGINE AGREE TO THE TERMS OF THE BUSINESS ASSOCIATES AREEMENT PROVIDED IN EXHIBIT A ATTACHED HERETO RELATED TO ANY COMMUNICATIONS OF ELECTRONIC PROTECTED HEALTH INFORMATION.

          %p Entire Agreement:

          %p
            Except as expressly provided in the other policies on the Site, these Terms of Use constitute the entire agreement between you and HealthEngine with respect to the use of the Site. You acknowledge that the provisions, disclosures and disclaimers set forth in these Terms of Use are fair and reasonable and your agreement to follow and be bound by them is not the result of fraud, duress or undue influence exercised upon you by any person or entity. If you have any concerns or questions regarding the Site or revisions to the Terms of Use, please contact us at 
            %a{:href => "mailto:support@healthengine.com"}support@HealthEngine.com.

          %p Miscellaneous:

          %p
            Our failure to exercise or enforce any right or provision does not constitute a waiver of such right or provision. No waiver of any provision shall be deemed a further or continuing waiver of such term or condition or any other term or condition. If any provision is found by a court of competent jurisdiction to be invalid, the parties agree that the court should endeavor to give effect to the parties’ intentions as reflected in the provision, and the other provisions of the Terms of Use remain in full force and effect. Neither the course of conduct between the parties nor trade practice shall act to modify any provision of these Terms of Use. HealthEngine may assign its rights and duties under this Agreement to any party at any time without notice to you and/or your approval. Questions or comments regarding this Site should be directed by e-mail to 
            %a{:href => "mailto:support@healthengine.com"}support@HealthEngine.com 
            or via U.S. mail to HealthEngine, Inc. at 116 W Hubbard Street, Floor 7S, Chicago, IL 60654.

          %p
            %strong EXHIBIT A: HIPAA BUSINESS ASSOCIATE AGREEMENT BETWEEN HealthEngine AND User

          %p THIS HIPAA BUSINESS ASSOCIATE AGREEMENT (the "BA Agreement") is entered into as of the date that the HealthEngine User (referred to in this BA Agreement as “User” electronically agrees to the Online Terms and Conditions of Use governing the HealthEngine service. This BA Agreement is entered into between the
          User ("Covered Entity") and HealthEngine, LLC. ("Business Associate").

          %p HealthEngine is a “Business Associate” and Users are “Users” under the BA Agreement in instances when Users upload protected health information to HealthEngine. Subcontractors that register as Users, or agree to the terms of HealthEngine’s Privacy Policy and Terms, and receive, maintain, or transmit protected health information on behalf of HealthEngine are “Business Associates” of HealthEngine and also subject to terms of this Agreement.

          %p WITNESSETH

          %p WHEREAS, Congress enacted the Health Insurance Portability and Accountability Act of 1996 ("HIPAA"), which protects the confidentiality of health information;

          %p WHEREAS, pursuant to HIPAA, the United States Department of Health and Human Services ("HHS") promulgated Privacy Standards and Security Standards, each as defined below, governing confidential health information;

          %p WHEREAS, Business Associate performs services through its provision of the HealthEngine Services (the "Service") on behalf of Covered Entity;

          %p WHEREAS, Business Associate's provision of the Service requires Covered Entity to provide Business Associate with access to confidential health information; and

          %p WHEREAS, in order to comply with the business associate requirements of HIPAA and its implementing regulations, Business Associate and Covered Entity must enter into an agreement that governs the uses and disclosures of such confidential health information by the Business Associate.

          %p NOW, THEREFORE, in consideration of the foregoing recitals, the mutual promises and covenants set forth herein, and other good and valuable consideration, the receipt and sufficiency of which are hereby acknowledged, the parties agree as follows:

          %p 1. Definitions.

          %p The following terms used in this BA Agreement shall have the same meaning as those terms in the HIPAA Rules: Data Aggregation, Designated Record Set, Disclosure, Health Care Operations, Minimum Necessary, Notice of Privacy Practices, Security Incident, Subcontractor, and Use.

          %p For purposes of this BA Agreement, the following terms shall have the following meanings:

          %p "Breach" when capitalized, "Breach" shall have the meaning set forth in 45 C.F.R. 164.402 (including all of its subsections); with respect to all other uses of the word "breach" in this BA Agreement, the word shall have its ordinary contract meaning.

          %p “Business Associate” shall generally have the same meaning as the term “business associate” at 45 C.F.R. § 160.103.

          %p “Covered Entity” shall generally have the same meaning as the term “covered entity” at 45 C.F.R. § 160.103.

          %p "Electronic Media" shall have the meaning set forth in 45 C.F.R. 160.103, which is defined as electronic storage media (including memory devices in computers, hard drives, any removable or transportable digital memory medium, such as magnetic tape or disk, optical disk or digital memory card) or transmission media used to exchange information already in electronic storage media (including the Internet, extranet (using Internet technology to link a business with information only accessible to collaborating parties), leased lines, dial-up lines, private networks, and those transmissions that are physically moved from one location to another using magnetic tape, disk, or compact disk media). Certain transmissions, including of paper, via facsimile, and of voice, via telephone, are not considered to be transmissions via electronic media, because the information being exchanged does not exist in electronic form before the transmission.

          %p "Electronic Protected Health Information" or "EPHI" shall mean Individually Identifiable Health Information that is (i) transmitted by Electronic Media or (ii) maintained in any medium constituting Electronic Media. For instance, EPHI includes information contained in a patient's electronic medical records and billing records. "EPHI" shall not include (i) education records covered by the Family Educational Right and Privacy Act, as amended, 20 U.S.C. 1232g; (ii) records described in 20 U.S.C. 1232g(a)(4)(B)(iv); and (iii) employment records held by a Covered Entity in its role as employer.

          %p “HIPAA Rules” shall mean the Privacy, Security, Breach Notification, and Enforcement Rules at 45 C.F.R. Part 160 and Part 164.

          %p "HITECH Act" shall mean the Health Information Technology for Economic and Clinical Health Act, found in Title XIII of the American Recovery and Reinvestment Act of 2009, effective February 17, 2009.

          %p "Individual" shall have the same meaning as set forth in 45 C.F.R. 160.103, defined as the person who is the subject of PHI, and shall include a personal representative in accordance with 45 C.F.R. 164.502(g).

          %p "Individually Identifiable Health Information" shall mean information that is a subset of health information, including demographic information collected from an individual, and

          %p (i) is created or received by a health care provider, health plan, employer, or health care clearinghouse; and

          %p (ii) relates to the past, present, or future physical or mental health or condition of an individual; the provision of health care to an individual; or the past, present or future payment for the provision of health care to an individual; and (a) identifies the individual, or (b) with respect to which there is a reasonable basis to believe the information can be used to identify the individual.

          %p "Privacy Standards" shall mean the Standards for Privacy of Individually Identifiable Health Information, 45 C.F.R. Parts 160 and 164, Subparts A, D, and E, as currently in effect.

          %p "Protected Health Information" or "PHI" shall mean Individually Identifiable Health Information that is (i) transmitted by Electronic Media, (ii) maintained in any medium constituting Electronic Media; or (iii) transmitted or maintained in any other form or medium. For instance, PHI includes information contained in a patient's medical records and billing records. "Protected Health Information" shall not include (i) education records covered by the Family Educational Right and Privacy Act, as amended, 20 U.S.C. 1232g; (ii) records described in 20 U.S.C. 1232g(a)(4)(B)(iv); and (iii) employment records held by a Covered Entity in its role as employer.

          %p "Required by Law" shall have the same meaning as the term "Required by law" in 45 C.F.R. 164.103.

          %p "Secretary" shall mean the Secretary of the U.S. Department of Health and Human Services or any office or person within the U.S. Department of Health and Human Services to which/whom the Secretary has delegated his or her authority to administer the Privacy Standards and the Security Standards, such as the Director of the Office for Civil Rights.

          %p "Security Standards" shall mean Security Standards for the Protection of Electronic Protected Health Information, 45 C.F.R. Part 160 and Part 164, Subparts A and C.

          %p "Subsequent Business Associate" shall mean any agent, including subcontractors, of Business Associate to whom Business Associate discloses Protected Health Information or Electronic Protected Health Information.

          %p "Unsecured Protected Health Information" shall have the same meaning as the term "unsecured protected health information" in 45 C.F.R. 164.402, limited to the information created or received by Business Associate from or on behalf of Covered Entity.

          %p
          All references to "days" in this BA Agreement shall mean calendar days. Capitalized terms used not defined herein shall have the meanings ascribed to them in the Privacy Standards or the Security Standards.

          %p 2. Business Associate Obligations. Business Associate acknowledges and agrees that it is considered a "business associate" as defined by HIPAA and by regulations promulgated thereunder. As a business associate of Covered Entity, Business Associate shall comply with the following terms of this BA Agreement, as required pursuant to 45 C.F.R. § 164.504.

          %p 2.1 Permitted Uses and Disclosures. Business Associate agrees that it shall use and disclose Protected Health Information received from Covered Entity for the purposes of providing the Service services, as otherwise permitted under this BA Agreement, or as Required by Law. Business Associate is authorized to use Protected Health Information to deidentify the information in accordance with 45 C.F.R. § 164.514(a)-(c). Business Associate agrees to follow guidance issued by the Secretary regarding what constitutes "minimum necessary" with respect to the use or disclosure of PHI and EPHI. Until such time that such guidance is issued, Business Associate shall limit its use or disclosure of PHI and EPHI, to the extent practicable, to the limited data set (as defined in 45 C.F.R. 164.514(e)(2)), or to the minimum necessary to accomplish the intended purpose of such use, disclosure or request, respectively.

          %p 2.2 Disclosures to Subsequent Business Associates. Business Associate shall not disclose any PHI to any Subsequent Business Associate, unless and until Business Associate and the Subsequent Business Associate have entered into an agreement containing the same terms and conditions as set forth in this BA Agreement.

          %p 2.2.1 Business Associate, in accordance with 45 C.F.R. § 164.502(e)(1)(ii) and § 164.308(b)(2), if applicable, shall ensure that any subcontractors that create, receive, maintain, or transmit Protected Health Information on behalf of Business Associate agree to the same restrictions, conditions, and requirements that apply to Business Associate with respect to such information.

          %p 2.3 Reporting Violations of Law. Consistent with the requirements of 45 C.F.R. 164.502(j) (1), Business Associate may disclose Protected Health Information to report violations of law to appropriate Federal and State authorities.

          %p 2.4 Appropriate Safeguards. Business Associate shall implement appropriate administrative, technical, and physical safeguards to prevent any use or disclosure of Protected Health Information not authorized by this BA Agreement. Specifically, Business Associate agrees to comply with the requirements of 45 C.F.R. 164.308, 164.310,164.312 and 164.316 to the same extent such requirements apply to Covered Entity.

          %p 2.5 Reporting of Illegal, Unauthorized or Improper Uses or Disclosures and Remedial Actions. Business Associate shall report to Covered Entity any illegal, unauthorized, or improper use or disclosure of Protected Health Information, Security Incident or any Breach (collectively, "Known Misuse") by it or a Subsequent Business Associate without unreasonable delay and within ten (10) business days of obtaining knowledge of such Known Misuse. Additionally, if the Known Misuse is a Breach of Unsecured Protected Health Information, Business Associate shall comply with the requirements of 45 C.F.R. 164.410. Business Associate shall take, or, in the event that the acts or omissions of a Subsequent Business Associate gave rise to the Known Misuse, shall require a Subsequent Business Associate to take, commercially reasonable actions to mitigate the negative impact of any Known Misuse and adopt additional or improve existing safeguards to prevent recurrence.

          %p 2.6 Internal Practices, Books and Records. Business Associate shall make its internal practices, books and records relating to the use and disclosure of Protected Health Information received from, or created or received by Business Associate on behalf of Covered Entity available to the Secretary, or their designees, for purposes of determining and facilitating Business Associate's and Covered Entity's compliance with the Privacy Standards and Security
          Standards.

          %p 2.7 Access to Protected Health Information.

          %p 2.7.1 Within ten (10) days of a request by Covered Entity, Business Associate shall provide Protected Health Information in its possession or in the possession of a Subsequent Business Associate to Covered Entity in order for Covered Entity to comply with its obligations under 45 C.F.R. 164.524 to provide Individuals with access to their Protected Health Information.

          %p 2.7.2 Business Associate shall notify Covered Entity within five (5) days of receiving a request from an Individual to access Protected Health Information. Following receipt of such notice from Business Associate, Covered Entity shall handle such request from the Individual.

          %p 2.8 Amendments to Protected Health Information.

          %p 2.8.1 Within ten (10) days of a request by Covered Entity, Business Associate shall provide Protected Health Information in its possession or in the possession of a Subsequent Business Associate to Covered Entity in order for Covered Entity to comply with its obligations under 45 C.F.R. 164.526 to provide Individuals the right to amend their Protected Health Information.

          %p 2.8.2 Business Associate shall notify Covered Entity within five (5) days of receiving a request from an Individual to amend Protected Health Information. Following receipt of such notice from Business Associate, Covered Entity shall handle such request from the Individual.

          %p 2.9 Accounting of Disclosures.

          %p 2.9.1 Within twenty (20) days of a request by Covered Entity, Business Associate shall provide Covered Entity with an accounting of all disclosures of Protected Health Information, other than disclosures excepted from the Privacy Standards accounting requirement under 45 C.F.R. 164.528(a)(1)(i)-(ix), made by Business Associate or by a Subsequent Business Associate in the previous six (6) years (but in no event prior to April 14, 2003) in order for Covered Entity to comply with its obligations under 45 C.F.R. 164.528 to provide Individuals with an accounting of disclosures of their Protected Health Information.

          %p 2.9.2 Such accounting shall include, with respect to each disclosure: the date of the disclosure; the name (and address, if known) of the entity or person receiving the Protected Health Information; a description of the Protected Health Information disclosed; a statement of the purpose of the disclosure; and any other information the Secretary may require under 45 C.F.R. 164.528 (collectively, "Disclosure Information").

          %p 2.9.3 Notwithstanding Section 2.11.2, for repetitive disclosures of Protected Health Information that Business Associate makes for a single purpose to the same person or entity, Business Associate may record: (a) the Disclosure Information for the first of these repetitive disclosures; (b) the frequency, periodicity or number of these repetitive disclosures made during the accounting period; and the date of the last of these repetitive disclosures.

          %p 2.9.4 Business Associate shall notify Covered Entity within ten (10) days of receiving a request from an Individual for an accounting of disclosures of Protected Health Information. Following receipt of such notice from Business Associate, Covered Entity shall handle such request from the Individual.

          %p 2.9.5 In accordance with the HITECH Act, the parties acknowledge that the Secretary shall promulgate regulations regarding the right of Individuals to receive an accounting of disclosures made for treatment, payment and healthcare operations during the previous three (3) years if such disclosures are made through the use of an electronic health record. The parties agree to comply with such regulations promulgated by the Secretary as of the effective date of those regulations.

          %p 2.10 Subpoenas, Court Orders, and Governmental Requests. If Business Associate receives a court order, subpoena, or governmental request for documents or other information containing Protected Health Information, Business Associate will use reasonable efforts to notify Covered Entity of the receipt of the request within ten (10) business days to provide Covered Entity an opportunity to respond. Business Associate may comply with such order, subpoena, or request as required by Law or permitted by law.

          %p 2.11 Remuneration in Exchange for PHI. Except as permitted by the HITECH Act or regulations promulgated by the Secretary in accordance with the HITECH Act, and as of the effective date of such regulations, Business Associate shall not directly or indirectly receive remuneration in exchange for PHI unless Covered Entity notifies Business Associate that it obtained a valid authorization from the Individual specifying that the Individual's PHI may be exchanged for remuneration by the entity receiving such Individual's PHI.

          %p 3. Covered Entity Obligations.

          %p 3.1 Notice of Privacy Practices. Covered Entity shall notify Business Associate of limitation(s) in its notice of privacy practices, to the extent such limitation affects Business Associate's permitted Uses or Disclosures.

          %p 3.2 Individual Permission. Covered Entity shall notify Business Associate of changes in, revocation of, permission by an Individual to use or disclose PHI, to the extent such changes affect Business Associate's permitted Uses or Disclosures.

          %p 3.3 Restrictions. Covered Entity shall notify Business Associate of restriction(s) in the Use or Disclosure of PHI that Covered Entity has agreed to, to the extent such restriction affects Business Associate's permitted Uses or Disclosures.

          %p 3.4 Consents and Authorizations. Covered Entity represents and warrants that any and all consents, authorizations, or other permissions necessary under the Privacy Standards or other applicable law (including state law) to transmit information through the Service and/or under this BA Agreement have been properly secured.

          %p 3.5 Marketing. Covered Entity represents and warrants that it has obtained any and all authorizations from Individual for any use or disclosure of PHI for marketing, unless the marketing communication is made without any form of remuneration (i) to describe medical services or products provided by either party; (ii) for treatment of the Individual; or (iii) for case management or care coordination for the Individual or to direct or recommend alternate treatments, therapies, providers or settings.

          %p 3.6 Permissible Requests by Covered Entity. Covered Entity shall not request Business Associate to use or disclose Protected Health Information in any manner that would not be permissible under Subpart E of 45 C.F.R. Part 164.

          %p 4. Term and Termination.

          %p 4.1 Term. The Term of this BA Agreement shall commence on and this BA Agreement shall be effective as of the date on which Covered Entity electronically registers for the Service, and shall continue in effect for as long as Covered Entity is registered for the Service.

          %p 4.2 Termination for Cause. In the event either party determines that the other has engaged in a pattern of activity or practice that constitutes a material breach of a term of this BA Agreement and such violation continues for thirty (30) days after written notice of such breach has been provided, the party claiming a breach shall have the right to terminate Covered Entity's participation on the Service or, if termination is not feasible, to report the breach to the Secretary.

          %p 4.3 Effect of Termination.

          %p 4.3.1 Return or Destruction of Protected Health Information; Disposition When Return or Destruction Not Feasible. Upon termination of this Agreement, the parties hereby acknowledge that the return or destruction of PHI received by the Business Associate from Covered Entity is not feasible, and that, therefore, Business Associate may retain a copy of such Protected Health Information provided that: (i) the provisions of this Agreement shall continue to apply to any such information retained following cancellation, termination, expiration, or other conclusion of Covered Entity's participation on the Service; and (ii) Business Associate shall limit Uses and Disclosures of such PHI to those purposes that make the return or destruction thereof not feasible, for as long as Business Associate maintains such PHI.

          %p 4.3.2 Reasonable Fees. All reasonable fees incurred to cause the return, destruction, or storage of Protected Health Information under this Section 4.3 shall be borne by the Covered Entity.

          %p 5. Miscellaneous.

          %p 5.1 Regulatory References. A reference in this BA Agreement to a section in HIPAA, the HITECH Act, the Privacy Standards, or the Security Standards means the section as in effect or as amended at the time.

          %p 5.2 Survival. The respective rights and obligations of the parties under Section 4.3 of this BA Agreement shall survive the termination of this BA Agreement.

          %p 5.3 Interpretation. Any ambiguity in this BA Agreement shall be resolved in favor of a meaning that permits the parties to comply with the Privacy Standards and Security Standards. Except to the extent specified by this BA Agreement, all of the terms and conditions governing Covered Entity's participation on the Service shall be and remain in full force and effect. In the event of any inconsistency or conflict between this BA Agreement and the terms and conditions governing Covered Entity's participation on the Service, the terms and provisions and conditions of this BA Agreement shall govern and
          control.

          %p 5.4 Amendment. The parties shall work together through reasonable negotiations to amend this BA Agreement as necessary to comply with any changes in law, including, but not limited to, the promulgation of amendments to the Privacy Standards or Security Standards required by the HITECH Act or any other future laws, applicable to or affecting the rights, duties, and obligations of the parties under this BA Agreement or the terms and conditions governing Covered Entity's participation on the Service.

          %p 5.5 Independent Relationship. None of the provisions of this BA Agreement are intended to create, nor will they be deemed to create, any relationship between the parties other than that of independent parties contracting with each other as independent contractors solely for the purposes of effecting the provisions of this BA Agreement and the terms and conditions governing Covered Entity's participation on the Service.

          %p
            5.6 Notices. In addition to Section 2.h. ("Notifications and Service Messages") and 11.b (“Notices and Service of Process”), we may notify you via postings on 
            %a{:href => "http://healthengine.com", :target => "_blank"}www.HealthEngine.com. 
            You may contact us at support@HealthEngine.com or via mail or courier at the address below.

          %p All notices and notifications under this BA Agreement shall be sent in writing by traceable carrier to the listed persons on behalf of Business Associate and Covered Entity at the addresses indicated at the address below, or as set forth in the online registration process or such other address as a party may indicate by at least ten (10) days' prior written notice to the other party. Notices will be effective upon receipt. Any notices provided without compliance with this section on Notices shall have no legal effect.

          %p 5.7 Construction and Jurisdiction. This Agreement shall be governed by and construed in accordance with the laws of the State of California (excepting any conflict of law’s provisions which would serve to defeat application of California law). Each of the parties hereto submits to the exclusive jurisdiction of the state and/or federal courts located within the State of California for any suit, hearing or other legal proceeding of every nature, kind and description whatsoever in the event of any dispute or controversy arising hereunder or relating hereto, or in the event any ruling, finding or other legal determination is required or desired hereunder.

          %p 5.8 Effectiveness. This Agreement is effective upon the User’s acceptance of the Privacy Policy and Terms of Use during the online registration process.

          %p ADDRESSES FOR NOTICES

          %p FOR HealthEngine, LLC:

          %p HealthEngine

          %p ATTN: Legal Department

          %p 116 W. Hubbard

          %p Suite 7S

          %p Chicago, IL 60654

          %p FOR COVERED ENTITY:

          %p The notice address for Covered Entity will be the address provided by that entity on the online registration page for the HealthEngine service.
